<?xml version="1.0" encoding="UTF-8"?>
<robot name="g1_29dof_nohand-feet_sphere">
  <joint name="d435_joint" type="fixed">
    <origin xyz="0.0576235 0.01753 0.41987 " rpy="0. 0.8307768 0. "/>
    <parent link="torso_link"/>
    <child link="d435_link"/>
  </joint>
  <joint name="head_joint" type="fixed">
    <origin xyz="0.0039635 0. -0.054 " rpy="0. 0. 0."/>
    <parent link="torso_link"/>
    <child link="head_link"/>
  </joint>
  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.03959 -0.00224 0.13792" rpy="0. 0. 0."/>
    <parent link="torso_link"/>
    <child link="imu_link"/>
  </joint>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0. -0.0000944 -0.30001 " rpy="0. -0. 0."/>
    <parent link="left_knee_link"/>
    <child link="left_ankle_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.87267" upper="0.5235999" effort="50." velocity="37.0000001"/>
  </joint>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0. 0. -0.017558" rpy="0. 0. 0."/>
    <parent link="left_ankle_pitch_link"/>
    <child link="left_ankle_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.2618" upper="0.2618" effort="50." velocity="37.0000001"/>
  </joint>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.0157785 0.0000062 -0.0805176" rpy="0. 0. 0."/>
    <parent link="left_shoulder_yaw_link"/>
    <child link="left_elbow_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.0471999" upper="2.0943998" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="left_hand_marker_joint" type="fixed">
    <origin xyz="0.04 -0.0000088 -0.0000025" rpy="0. 0. 0."/>
    <parent link="left_wrist_yaw_link"/>
    <child link="left_hand_marker"/>
  </joint>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0. 0.064452 -0.1027 " rpy="0. 0. 0."/>
    <parent link="g1_29dof"/>
    <child link="left_hip_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.5306997" upper="2.8797999" effort="88." velocity="32.0000004"/>
  </joint>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0. 0.052 -0.030465" rpy="0. -0.1749 0. "/>
    <parent link="left_hip_pitch_link"/>
    <child link="left_hip_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.5235999" upper="2.9670997" effort="88." velocity="32.0000004"/>
  </joint>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0.025001 0. -0.12412 " rpy="0. 0. 0."/>
    <parent link="left_hip_roll_link"/>
    <child link="left_hip_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.7576" upper="2.7576" effort="88." velocity="32.0000004"/>
  </joint>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.078273 0.0021489 -0.17734 " rpy="0. 0.1749 0. "/>
    <parent link="left_hip_yaw_link"/>
    <child link="left_knee_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.087267" upper="2.8797999" effort="139." velocity="20.000001"/>
  </joint>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0039563 0.10022 0.23778 " rpy="0.27931 0.0000549 -0.0001916"/>
    <parent link="torso_link"/>
    <child link="left_shoulder_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-3.0891998" upper="2.6703998" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0. 0.038 -0.013831" rpy="-0.2792498 0. -0. "/>
    <parent link="left_shoulder_pitch_link"/>
    <child link="left_shoulder_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-1.5882" upper="2.2514998" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.0000045 0.0062338 -0.1032004" rpy="-0.0000602 -0.0000549 0.0001916"/>
    <parent link="left_shoulder_roll_link"/>
    <child link="left_shoulder_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.618" upper="2.618" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0.0379998 -0.0000186 -0.0000054" rpy="0. 0. 0."/>
    <parent link="left_wrist_roll_link"/>
    <child link="left_wrist_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.6144296" upper="1.6144296" effort="5." velocity="22.0000009"/>
  </joint>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.0999956 0.0018897 -0.0100009" rpy="0. 0. 0."/>
    <parent link="left_elbow_link"/>
    <child link="left_wrist_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-1.9722219" upper="1.9722219" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="0.046 -0.0000073 -0.0000021" rpy="0. 0. 0."/>
    <parent link="left_wrist_pitch_link"/>
    <child link="left_wrist_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.6144296" upper="1.6144296" effort="5." velocity="22.0000009"/>
  </joint>
  <joint name="logo_joint" type="fixed">
    <origin xyz="0.0039635 0. -0.054 " rpy="0. 0. 0."/>
    <parent link="torso_link"/>
    <child link="logo_link"/>
  </joint>
  <joint name="mid360_joint" type="fixed">
    <origin xyz="0.0002835 0.00003 0.40618 " rpy="0. 0.0401426 0. "/>
    <parent link="torso_link"/>
    <child link="mid360_link"/>
  </joint>
  <joint name="pelvis_contour_joint" type="fixed">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="g1_29dof"/>
    <child link="pelvis_contour_link"/>
  </joint>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0. 0.0000944 -0.30001 " rpy="0. -0. 0."/>
    <parent link="right_knee_link"/>
    <child link="right_ankle_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.87267" upper="0.5235999" effort="50." velocity="37.0000001"/>
  </joint>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0. 0. -0.017558" rpy="0. 0. 0."/>
    <parent link="right_ankle_pitch_link"/>
    <child link="right_ankle_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.2618" upper="0.2618" effort="50." velocity="37.0000001"/>
  </joint>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.0157785 -0.0000062 -0.0805176" rpy="0. 0. 0."/>
    <parent link="right_shoulder_yaw_link"/>
    <child link="right_elbow_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.0471999" upper="2.0943998" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="right_hand_marker_joint" type="fixed">
    <origin xyz="0.04 0.0000088 -0.0000025" rpy="0. 0. 0."/>
    <parent link="right_wrist_yaw_link"/>
    <child link="right_hand_marker"/>
  </joint>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0. -0.064452 -0.1027 " rpy="0. 0. 0."/>
    <parent link="g1_29dof"/>
    <child link="right_hip_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.5306997" upper="2.8797999" effort="88." velocity="32.0000004"/>
  </joint>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0. -0.052 -0.030465" rpy="0. -0.1749 0. "/>
    <parent link="right_hip_pitch_link"/>
    <child link="right_hip_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-2.9670997" upper="0.5235999" effort="88." velocity="32.0000004"/>
  </joint>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0.025001 0. -0.12412 " rpy="0. 0. 0."/>
    <parent link="right_hip_roll_link"/>
    <child link="right_hip_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.7576" upper="2.7576" effort="88." velocity="32.0000004"/>
  </joint>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.078273 -0.0021489 -0.17734 " rpy="0. 0.1749 0. "/>
    <parent link="right_hip_yaw_link"/>
    <child link="right_knee_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.087267" upper="2.8797999" effort="139." velocity="20.000001"/>
  </joint>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0039563 -0.10021 0.23778 " rpy="-0.27931 0.0000549 0.0001916"/>
    <parent link="torso_link"/>
    <child link="right_shoulder_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-3.0891998" upper="2.6703998" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0. -0.038 -0.013831" rpy="0.2792498 0. 0. "/>
    <parent link="right_shoulder_pitch_link"/>
    <child link="right_shoulder_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-2.2514998" upper="1.5882" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.0000045 -0.0062338 -0.1032004" rpy="0.0000602 -0.0000549 -0.0001916"/>
    <parent link="right_shoulder_roll_link"/>
    <child link="right_shoulder_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.618" upper="2.618" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0.0379998 0.0000186 -0.0000054" rpy="0. 0. 0."/>
    <parent link="right_wrist_roll_link"/>
    <child link="right_wrist_pitch_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.6144296" upper="1.6144296" effort="5." velocity="22.0000009"/>
  </joint>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.0999956 -0.0018897 -0.0100009" rpy="0. 0. 0."/>
    <parent link="right_elbow_link"/>
    <child link="right_wrist_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-1.9722219" upper="1.9722219" effort="25." velocity="37.0000001"/>
  </joint>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="0.046 0.0000073 -0.0000021" rpy="0. 0. 0."/>
    <parent link="right_wrist_pitch_link"/>
    <child link="right_wrist_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.6144296" upper="1.6144296" effort="5." velocity="22.0000009"/>
  </joint>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0. 0. 0.019" rpy="0. 0. 0."/>
    <parent link="waist_roll_link"/>
    <child link="torso_link"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.5199999" upper="0.5199999" effort="50." velocity="37.0000001"/>
  </joint>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="-0.0039635 0. 0.035 " rpy="0. 0. 0."/>
    <parent link="waist_yaw_link"/>
    <child link="waist_roll_link"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.5199999" upper="0.5199999" effort="50." velocity="37.0000001"/>
  </joint>
  <joint name="waist_support_joint" type="fixed">
    <origin xyz="0.0039635 0. -0.054 " rpy="0. 0. 0."/>
    <parent link="torso_link"/>
    <child link="waist_support_link"/>
  </joint>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="g1_29dof"/>
    <child link="waist_yaw_link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.618" upper="2.618" effort="88." velocity="32.0000004"/>
  </joint>
  <link name="d435_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.00001" ixy="0." ixz="0." iyy="0.00001" iyz="0." izz="0.00001"/>
    </inertial>
  </link>
  <link name="g1_29dof">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/pelvis_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="head_link">
    <inertial>
      <origin xyz="0.005267 0.000299 0.449869" rpy="0. 0. 0."/>
      <mass value="1.036"/>
      <inertia ixx="0.0040851" ixy="-0.0000025" ixz="-0.0000695" iyy="0.0041852" iyz="-0.0000037" izz="0.0018079"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/head_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="imu_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.00001" ixy="0." ixz="0." iyy="0.00001" iyz="0." izz="0.00001"/>
    </inertial>
  </link>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.007269 0. 0.011137" rpy="0. 0. 0."/>
      <mass value="0.074"/>
      <inertia ixx="0.0000084" ixy="0." ixz="-0.0000029" iyy="0.0000189" iyz="0." izz="0.0000126"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_ankle_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.026505 0. -0.016425" rpy="0. 0. 0."/>
      <mass value="0.608"/>
      <inertia ixx="0.0002231" ixy="0.0000002" ixz="0.0000891" iyy="0.0016161" iyz="-0.0000001" izz="0.0016667"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_ankle_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.05 0.025 -0.03 " rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.025 -0.03 " rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 0.03 -0.03" rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 -0.03 -0.03" rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.064956 0.004454 -0.010062" rpy="0. 0. 0."/>
      <mass value="0.6"/>
      <inertia ixx="0.0002891" ixy="0.0000653" ixz="0.0000172" iyy="0.0004152" iyz="-0.0000056" izz="0.0004197"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000044 0.0000018 -0.0000009" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_elbow_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_hand_marker">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.00001"/>
      <inertia ixx="0.0000001" ixy="0." ixz="0." iyy="0.0000001" iyz="0." izz="0.0000001"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0.0000077 -0.0000022" rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.002741 0.047791 -0.02606 " rpy="0. 0. 0."/>
      <mass value="1.35"/>
      <inertia ixx="0.001811" ixy="0.0000368" ixz="-0.0000344" iyy="0.0014193" iyz="0.000171" izz="0.0012812"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_hip_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.029812 -0.001045 -0.087934" rpy="0. 0. 0."/>
      <mass value="1.52"/>
      <inertia ixx="0.0023773" ixy="-0.0000038" ixz="-0.0003908" iyy="0.0024123" iyz="0.0000184" izz="0.0016595"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_hip_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.057709 -0.010981 -0.15078 " rpy="0. 0. 0."/>
      <mass value="1.702"/>
      <inertia ixx="0.0057774" ixy="-0.0005411" ixz="-0.0023948" iyy="0.0076124" iyz="-0.0007072" izz="0.003149"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_hip_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.005457 0.003964 -0.12074 " rpy="0. 0. 0."/>
      <mass value="1.932"/>
      <inertia ixx="0.011329" ixy="0.0000482" ixz="-0.0000449" iyy="0.011277" iyz="-0.0007146" izz="0.0015168"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. 0." rpy="0. -0. 0."/>
      <geometry>
        <mesh filename="meshes/left_knee_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0. 0.035892 -0.011628" rpy="0. 0. 0."/>
      <mass value="0.718"/>
      <inertia ixx="0.0004291" ixy="-0.0000092" ixz="0.0000064" iyy="0.000453" iyz="0.0000226" izz="0.000423"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. -0." rpy="0.0000002 0. -0. "/>
      <geometry>
        <mesh filename="meshes/left_shoulder_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.000227 0.00727 -0.063243" rpy="0. 0. 0."/>
      <mass value="0.643"/>
      <inertia ixx="0.0006177" ixy="-0.000001" ixz="0.0000087" iyy="0.0006912" iyz="-0.0000053" izz="0.0003894"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. -0." rpy="-0.0000602 -0.0000549 0.0001916"/>
      <geometry>
        <mesh filename="meshes/left_shoulder_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010773 -0.002949 -0.072009" rpy="0. 0. 0."/>
      <mass value="0.734"/>
      <inertia ixx="0.0009988" ixy="0.0000079" ixz="0.0001412" iyy="0.0010605" iyz="-0.0000286" izz="0.0004354"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000045 0.0000062 0.0000004" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.0229999 -0.0011169 -0.0011166" rpy="0. 0. 0."/>
      <mass value="0.4840496"/>
      <inertia ixx="0.0001658" ixy="-0.0000123" ixz="0.0000123" iyy="0.0004295" iyz="0.0000008" izz="0.0004295"/>
    </inertial>
    <visual>
      <origin xyz="0. -0.0000073 -0.0000021" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_wrist_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.0171394 0.0005376 0.0000005" rpy="0. 0. 0."/>
      <mass value="0.085445"/>
      <inertia ixx="0.0000482" ixy="-0.0000042" ixz="0." iyy="0.0000372" iyz="-0." izz="0.0000548"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000002 -0.0000186 -0.0000054" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_wrist_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="0.0220038 0.0004949 0.0005386" rpy="0. 0. 0."/>
      <mass value="0.0845765"/>
      <inertia ixx="0.0000493" ixy="-0.0000005" ixz="0.0000045" iyy="0.0000597" iyz="0.0000004" izz="0.0000393"/>
    </inertial>
    <visual>
      <origin xyz="0. -0.0000088 -0.0000025" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="logo_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.001"/>
      <inertia ixx="0.0000001" ixy="0." ixz="0." iyy="0.0000001" iyz="0." izz="0.0000001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/logo_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="mid360_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.00001" ixy="0." ixz="0." iyy="0.00001" iyz="0." izz="0.00001"/>
    </inertial>
  </link>
  <link name="pelvis_contour_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.001"/>
      <inertia ixx="0.0000001" ixy="0." ixz="0." iyy="0.0000001" iyz="0." izz="0.0000001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/pelvis_contour_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.007269 0. 0.011137" rpy="0. 0. 0."/>
      <mass value="0.074"/>
      <inertia ixx="0.0000084" ixy="0." ixz="-0.0000029" iyy="0.0000189" iyz="0." izz="0.0000126"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_ankle_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.026505 0. -0.016425" rpy="0. 0. 0."/>
      <mass value="0.608"/>
      <inertia ixx="0.0002231" ixy="-0.0000002" ixz="0.0000891" iyy="0.0016161" iyz="0.0000001" izz="0.0016667"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_ankle_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.05 0.025 -0.03 " rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.025 -0.03 " rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 0.03 -0.03" rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.12 -0.03 -0.03" rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.064956 -0.004454 -0.010062" rpy="0. 0. 0."/>
      <mass value="0.6"/>
      <inertia ixx="0.0002891" ixy="-0.0000653" ixz="0.0000172" iyy="0.0004152" iyz="0.0000056" izz="0.0004197"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000044 -0.0000018 -0.0000009" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_elbow_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_hand_marker">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.00001"/>
      <inertia ixx="0.0000001" ixy="0." ixz="0." iyy="0.0000001" iyz="0." izz="0.0000001"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0.0000077 -0.0000022" rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.002741 -0.047791 -0.02606 " rpy="0. 0. 0."/>
      <mass value="1.35"/>
      <inertia ixx="0.001811" ixy="-0.0000368" ixz="-0.0000344" iyy="0.0014193" iyz="-0.000171" izz="0.0012812"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_hip_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.029812 0.001045 -0.087934" rpy="0. 0. 0."/>
      <mass value="1.52"/>
      <inertia ixx="0.0023773" ixy="0.0000038" ixz="-0.0003908" iyy="0.0024123" iyz="-0.0000184" izz="0.0016595"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_hip_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.057709 0.010981 -0.15078 " rpy="0. 0. 0."/>
      <mass value="1.702"/>
      <inertia ixx="0.0057774" ixy="0.0005411" ixz="-0.0023948" iyy="0.0076124" iyz="0.0007072" izz="0.003149"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_hip_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.005457 -0.003964 -0.12074 " rpy="0. 0. 0."/>
      <mass value="1.932"/>
      <inertia ixx="0.011329" ixy="-0.0000482" ixz="0.0000449" iyy="0.011277" iyz="0.0007146" izz="0.0015168"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. -0. 0."/>
      <geometry>
        <mesh filename="meshes/right_knee_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0. -0.035892 -0.011628" rpy="0. 0. 0."/>
      <mass value="0.718"/>
      <inertia ixx="0.0004291" ixy="0.0000092" ixz="0.0000064" iyy="0.000453" iyz="-0.0000226" izz="0.000423"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="-0.0000002 0. 0. "/>
      <geometry>
        <mesh filename="meshes/right_shoulder_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.000227 -0.00727 -0.063243" rpy="0. 0. 0."/>
      <mass value="0.643"/>
      <inertia ixx="0.0006177" ixy="0.000001" ixz="0.0000087" iyy="0.0006912" iyz="0.0000053" izz="0.0003894"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="0.0000602 -0.0000549 -0.0001916"/>
      <geometry>
        <mesh filename="meshes/right_shoulder_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010773 0.002949 -0.072009" rpy="0. 0. 0."/>
      <mass value="0.734"/>
      <inertia ixx="0.0009988" ixy="-0.0000079" ixz="0.0001412" iyy="0.0010605" iyz="0.0000286" izz="0.0004354"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000045 -0.0000062 0.0000004" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.0229999 0.0011169 -0.0011166" rpy="0. 0. 0."/>
      <mass value="0.4840496"/>
      <inertia ixx="0.0001658" ixy="0.0000123" ixz="0.0000123" iyy="0.0004295" iyz="-0.0000008" izz="0.0004295"/>
    </inertial>
    <visual>
      <origin xyz="0. 0.0000073 -0.0000021" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_wrist_pitch_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.0171394 -0.0005376 0.0000005" rpy="0. 0. 0."/>
      <mass value="0.085445"/>
      <inertia ixx="0.0000482" ixy="0.0000042" ixz="0." iyy="0.0000372" iyz="0." izz="0.0000548"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000002 0.0000186 -0.0000054" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_wrist_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.0220038 -0.0004949 0.0005386" rpy="0. 0. 0."/>
      <mass value="0.0845765"/>
      <inertia ixx="0.0000493" ixy="0.0000005" ixz="0.0000045" iyy="0.0000597" iyz="-0.0000004" izz="0.0000393"/>
    </inertial>
    <visual>
      <origin xyz="0. 0.0000088 -0.0000025" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="torso_link">
    <inertial>
      <origin xyz="0.002601 0.000257 0.153719" rpy="0. 0. 0."/>
      <mass value="8.5620003"/>
      <inertia ixx="0.065675" ixy="-0.000086" ixz="-0.0017373" iyy="0.0535352" iyz="0.0000869" izz="0.0308081"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/torso_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0. -0.000236 0.010111" rpy="0. 0. 0."/>
      <mass value="0.047"/>
      <inertia ixx="0.0000075" ixy="0." ixz="0." iyy="0.0000064" iyz="0.0000001" izz="0.000004"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/waist_roll_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="waist_support_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.001"/>
      <inertia ixx="0.0000001" ixy="0." ixz="0." iyy="0.0000001" iyz="0." izz="0.0000001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/waist_support_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.003964 0. 0.018769" rpy="0. 0. 0."/>
      <mass value="0.244"/>
      <inertia ixx="0.0000996" ixy="-0.0000018" ixz="-0.0000126" iyy="0.0001241" iyz="-0.0000001" izz="0.0001559"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/waist_yaw_link_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
</robot>
